<h1>Give us a Picture!</h1>

<%= form_tag "/pictures" do %>
	<p>
	<%= label_tag "Photo By:" %><br>
	<%= text_field_tag "artist" %>
	</p>
	<p>
	<%= label_tag "Image Title:" %><br>
	<%= text_field_tag "title" %>
	</p>
	<p>
	<%= label_tag "Image Link:" %><br>
	<%= text_field_tag "url" %>
	</p>
	<p>
	<%= submit_tag "SLAM IT ON THE WEB!" %>
	</p>
<% end %>