<%= link_to 'Back to Pictures', pictures_url %> | <%= link_to "Edit", edit_picture_path(@picture) %> | <%= link_to "Delete", @picture, method: :delete, data: { confirm: "Seriously?! You're going to delete this one?"} %>
<p><%= @picture.title %>, </p><p><%= @picture.artist %></p>
<%= image_tag @picture.url %>